body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    max-width: 1060px;
    background-color: rgba(194, 170, 170, 0.552);
}

section.row {
    padding-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

header {
    background-image:
        /*linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), */
        url("../images/DavidGoudreaultHeaderBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 10%;
    padding-top: 2em;
    border: 1px solid #0A111B;
}


header h1 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2px;
}

header h2 {
    font-weight: 400;
    font-size: 24px;
}

header h3 {
    letter-spacing: 2px;
}

header .title {
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

header .learn-more {
    display: block;
    letter-spacing: 3px;
    text-transform: uppercase;
}

main {
    padding-top: 10px;
    border: 1px solid #0A111B;
}

main section {
    padding: 100px;
}

main section h2 {
    font-size: 22px;
}

main .firstRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 2em;
    background-color: #fff;
}

main .secondRow {
    background: linear-gradient(#1D080F, #450921);
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding-top: 2em;
}

main .secondRow p {
    color: #f0eaeae6;
}

main .thirdRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding-top: 2em;
    background-color: #fff;
}

@media (max-width: 960px) {
    main .thirdRow {
        margin-top: 15%;
        padding-bottom: 150px;
    }

    main .row {
        grid-template-columns: 1fr;
    }
}

main img {
    box-shadow: 3px 2px #0a111b6f;
    border: 1px solid #0a111b6f;
    border-radius: 6px;
}

main .thirdRow .productions {
    border: none;
    margin-top: 30%;
    box-shadow: none;
}

main .items .header p {
    font-style: italic;
}

main section h4 {
    color: #5F052D;
}

main #publications,
main #discographie {
    padding-top: 30px;
    padding-bottom: 30px;
}

main #publications div {
    line-height: 32px;
}

main section#publications span,
main section#discographie span {
    font-style: italic;
}

main section#discographie .discoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    text-align: center;
}

main #discographie .discoGrid img {
    width: 180px;
}

@media (max-width: 960px) {
    main section#discographie .discoGrid {
        grid-template-columns: 1fr;
    }

    main #discographie .discoGrid img {
        width: 300px;
    }
}

main button.button {
    display: block;
    margin: 8px auto 30px;
    background-color: #E9513D;
    color: #fff;
    padding: 5px;
    padding: 7px 10px;
    border: none;
}

@media (max-width: 960px) {
    main .firstRow {
        grid-template-columns: 1fr;
    }

    main img {
        text-align: center;
        margin: 0;
        padding: 0;
        width: 334px;
    }

    main .items2 {
        padding-top: 1em;
    }
}

footer {
    background: url("/images/DavidGoudreaultFooter.jpg");
    height: 200px;
    background-repeat: no-repeat;
    background-color: #0A111B;
    border: 1px solid #0A111B;
    padding-top: 45px;
    text-align: right;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 960px) {
    .footer {
        grid-template-columns: 1fr;
    }
}

footer h3 {
    display: inline-block;
    font-weight: 500;
    background-color: rgba(192, 192, 192, 0.315);
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 15px;
    color: #fff;
}

footer h3 a {
    font-weight: 700;
    font-size: 12px;
    position: relative;
    bottom: 15px;
    color: rgb(174, 220, 251);
    opacity: 0.7;
}

footer p {
    background-color: rgba(192, 192, 192, 0.315);
    display: inline-block;
    border-radius: 15px;
    padding: 8px;
    color: #b5b4b4
}

footer ul {
    list-style-type: none;
    padding-bottom: 20px;

}

footer li {
    margin: 0;
    padding: 0;
}

footer .contact {
    color: #fff;
    text-align: right;
    font-size: 16px;
    padding-right: 8px;
}

@media (max-width: 960px) {
    footer .contact a {
        display: block;
        line-height: 8px;
        color: rgb(35, 33, 96);
    }

    footer ul {
        margin: 0;
        padding: 0;
        line-height: 12px;
    }

    footer .contact {
        color: #000;
        padding-left: 35%;
    }
}

@media (max-width: 960px) {
    header {
        padding-bottom: 0;
    }

    header h1 {
        background-color: rgba(192, 192, 192, 0.46);
        border-radius: 15px;
    }

    header .learn-more {
        display: block;
        background-color: rgba(240, 234, 234, 0.582);
        padding: 8px;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 30px;
    }

    main section {
        padding: 0;
    }

    footer h3 a {
        position: relative;
        bottom: 2px;
        display: block;
        opacity: 0.7;
        text-align: right;
    }
}

@media (min-width: 960px) {
    .title {
        background-color: rgba(192, 192, 192, 0.46);
    }
}